/* Generic Main CSS File */

/* General styling for the root layout */
.root {
    -fx-background-color: red;/*linear-gradient(to bottom, #f4f4f9, #cfe2f3);*/
    -fx-padding: 30px;
}

/* Title styling */
.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(to right, #ff7f50, #ff4500);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0.3, 1, 1);
}

/* Text styling */
.text {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(to right, #4e91f5, #00c6ff);
}

/* Generic button styling */
.button {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-radius: 10px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.5, 0, 2);
}

/* Neutral button styling */
.neutral-button {
    -fx-background-color: linear-gradient(to bottom, #95a5a6, #7f8c8d);
    -fx-border-color: #7f8c8d;
    -fx-border-width: 2px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.neutral-button:hover {
    -fx-background-color: linear-gradient(to bottom, #7f8c8d, #95a5a6);
    -fx-border-color: #95a5a6;
    -fx-cursor: hand;
}

/* Highlighted text */
.highlight-text {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(to right, #32cd32, #00fa9a);
}
