/* General styling for the entire window */
AnchorPane {
    -fx-background-color: #f4f4f9;  /* Light background */
    -fx-padding: 10px;  /* Padding around the edges */
}


/* TableView Styling */
#reservationTable {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-table-cell-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-selection-bar: #3399ff;  /* Highlighted selection bar in blue */
    -fx-selection-bar-non-focused: #99ccff;  /* Light blue for non-focused selection */
}

#reservationTable .table-column {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-alignment: CENTER;
}

/* Button Styling */
.button {
    -fx-background-color: #171717;  /* Dark background for the button */
    -fx-text-fill: #DE8F5F;  /* Yellow text color */
    -fx-font-size: 24px;  /* Adjust font size */
    -fx-font-weight: bold;  /* Bold button text */
    -fx-cursor: hand;  /* Change cursor to hand when hovering */
    -fx-effect: dropshadow(gaussian, #000000, 5, 0.3, 0, 1);  /* Drop shadow effect */
    -fx-background-radius: 20px; /* Rounded corners */
    -fx-border-radius: 20px; /* Keep border consistent with background */
    -fx-padding: 5px 15px; /* Adjust padding for better button shape */
}

.button:hover {
    -fx-background-color: #DE8F5F;  /* Background color changes to yellow on hover */
    -fx-text-fill: #171717;  /* Text color changes to dark on hover */
}

#btnBack, #btnExit {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}




#btnBack:pressed {
    -fx-background-color: #b03a2e;  /* Even darker red on press */
}

